/* Write your global styles here, in PostCSS syntax */
:root{
  /****************************
   * COLORS
   ****************************/
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #979797;

  /****************************
   * FONTS
   ****************************/
  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
}

* {
  box-sizing: border-box;
}


/****************************
 * LAYOUT
 ****************************/
/* For layout purposes */
html, body {
  height: 100%;
}


#app {
  width: 100vw;
  height: 100vh;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  /****************************
   * TYPOGRAPHY
   ****************************/
  /* body */
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-variant: normal;
  font-size: 1rem;
  line-height: 1.2rem;
  color: var(--color-back);

  /* Heading 1 */
  h1 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-variant: normal;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  /* Heading 2 */
  h2 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-variant: normal;
    font-size: 1.125rem;
    line-height: 1.35rem;
  }
}
